html, body { height: 100%; margin: 0; padding: 0; }
div[ui-view='map'] { height: 100%; }
div[ui-view='header'] { background-color: #F1EFE9;}
#map { height: 100%; }
::-webkit-input-placeholder {
    color: #4C5F66;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
.ui-select-placeholder.text-muted{
    color: white;
}
.navbar-default {
    background-color: #0088CC;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a, .navbar-default.dropdown-menu {
    color: white !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #0088CC;
}
.destroy-bottom-margin{
    margin-bottom: -20px;
}

a.navbar-brand{
    margin-top: 5px;
}

.navbar-form button {
    margin-top: 5px;
}

.rating-badge{
    position: relative;
    top: -3px;
    margin-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}


.search-panel {
    min-height: 75px;
    width: 50%;
    border: 1px solid #0088cc;
    background-color: #0088cc;
    border-top-width: 0px;
    color: white;
    margin-top: -20px;
    padding: 10px;
    position: fixed;
    left: 25%;
    z-index: 1000;
}

@media screen and (max-width: 775px) {
    div.search-panel {
        width: 100%;
        left: 0;
    }
}

.tag-panel {
    height: 30px;
    padding: 5px;
    display: inline-block;
    width: 115px;
    border: 1px solid #F3F5F6;
    color: white;
    background-color: #0088CC
}

.tag-panel span {
    margin-left: 15px;
    cursor: pointer;
}

.tag-panel .tag-text {
    max-width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.search-directive-row {
    margin-bottom: 10px;
}

.search-directive-row .tag-panel {
    margin-right: 5px;
}

.home-panel{
    height: 100%;
}

.social-login i {
    font-size: 1.5em;
}

.social-login i.fa-facebook-official {
    color: #3B5998;
}

.social-login i.fa-twitter-square {
    color: #1DA1F2;
}
.social-login i.fa-google-plus-square {
    color: #DB4437
}



/** LANDING PANEL DIRECTIVE CSS **/

.super-top-spacer {
    margin-top:50px;
}

.top-spacer {
    margin-top: 15px;
}

.into-light-font {
    font-family: 'Shadows Into Light', cursive;
}

.navbar-brand.into-light-font {
    font-size: 2em;
}

.cuisine-selector {
    line-height: .75;
}

.wheretoeat-panel {
    width: 775px;
    min-height: 375px;
    display: inline-block;
    background: linear-gradient(141deg, white 0%, #2cb5e8 51%, #0088CC 75%);
    position: fixed;
    top: 25%;
    left: 25%;
    font-family: 'Shadows Into Light', cursive;
    opacity: 1;
    transition: top .5s ease-in, opacity .5s ease-in;
}

.infowindow-buttons .btn-default {
    background: linear-gradient(141deg, white 0%, #2cb5e8 51%, #0088CC 75%);
    color: white;
}

.ui-select-container {
    background: inherit;
    border: none;
    font-size: 1.6rem;
}

.wheretoeat-panel .form-control {
    background: inherit;
    border: none;
}

.ui-select-match-item {
    background-color: #0088CC;
    color: #4C5F66;
}

@media screen and (max-width: 1100px) {
    div.wheretoeat-panel {
        left: 12%
    }
}

@media screen and (max-width: 930px){
    div.wheretoeat-panel {
        left: 5%
    }
}

@media screen and (max-width: 830px){
    div.wheretoeat-panel {
        left: 0;
        margin: 15px;
        width: inherit;
    }
}

.ui-select-bootstrap > .ui-select-match > .btn, .btn-default-focus, .ui-select-search, .ui-select-match {
    background-color: inherit !important;
    border: none;
}

.city-search span {
    font-size: 1.5em;
    color: white;
}

.navbar-header .city-search {
    margin-top: 13px;
}

.city-search .form-control {
    display: inline;
    width: 80%;
    background-color: #81BFDE;
    transition: opacity .5s ease-in;
}

.city-search .form-control.ng-hide {
    opacity: 0;
}

.wheretoeat-panel.ng-hide {
    top: -25% !important;
    opacity: 0;
}

.nav-search {
    margin-top: 10px;
    color: white;
}

.amazon-banner{
    position: fixed;
    left: 36%;
    bottom: 20px;
}

@media screen and (max-width: 1000px) and (min-width: 700px){
    div.amazon-banner {
        left: 25%;
    }
}

@media screen and (max-width: 699px) and (min-width: 530px){
    div.amazon-banner {
        left: 10%;
    }
}

@media screen and (max-width: 529px) {
    div.amazon-banner {
        left: 0;
    }
}

.logo-copyright {
    text-align: center;
    font-size: .5em;
}


/** END LANDING PANEL **/