<div class="city-search">
    <span class="fa fa-search" aria-hidden="true" ng-click="searchSelected = !searchSelected"></span>
    <input type="text"
           class="form-control"
           placeholder="Search a specific city..."
           ng-hide="!searchSelected"
           ng-model="tmpCity"
           places-auto-complete
           select-on-click
           ng-blur="UpdateMap(search.city)"
           component-restrictions="{country: 'us'}"
           types="[('city')]">
</div>