<div class="panel panel-default wheretoeat-panel" ng-show="!firstSearchMade" ng-style="setTop()">
    <div class="panel-body">
        <h2 class="text-center app-title">
            <img src="../images/dinner.png">
            Restaurants 2 Try
        </h2>
        <p class="text-center app-description">Can't decide where to eat? Just pick which type of cuisine you want and the distance and we will randomly pick a place for you</p>
        <p class="text-center app-description logo-copyright">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger text-center" ng-show="errorText">{{ errorText }}</div>
            </div>
        </div>
        <div class="row super-top-spacer">
            <div class="hidden-xs col-sm-1 col-sm-offset-1"><span style="font-size:2em;" class="fa fa-map-marker"></span></div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-8">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        <input class="form-control"
                               ng-model="search.city"
                               places-auto-complete
                               select-on-click
                               autofocus
                               ng-blur="UpdateMap(search.city)"
                               component-restrictions="{country: 'us'}"
                               types="[('city')]">
                        <span class="input-group-btn">
                            <button class="btn btn-info" ng-click="search.city = 'Current Location';UpdateMap()"><span class="fa fa-dot-circle-o"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-class="{'top-spacer': isMobile }">

                    <select ng-model="search.distance" ng-options="distance.label for distance in distances" class="form-control">
                        <option value="">Choose Your Distance</option>
                    </select>
                </div>

                    <!--
                    <ui-select ng-model="search.distance" theme="bootstrap">
                        <ui-select-match placeholder="Choose Your Distance">{{ $select.selected.label }}</ui-select-match>
                        <ui-select-choices repeat="distance in distances">
                            {{ distance.label }}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!-- /.col-xs-6 -->
            </div>
        </div>
        <hr>
        <div class="row top-spacer">
            <div class="col-xs-12">
                <div class="hidden-xs col-sm-1 col-sm-offset-1" style="left:-8px;"><span style="font-size:2em;" class="glyphicon glyphicon-apple"></span></div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-6">
                    <ui-select multiple ng-model="search.cuisines" theme="bootstrap">
                        <ui-select-match placeholder="Choose the Cuisines You Want">{{ $item.cuisine.cuisine_name }}</ui-select-match>
                        <ui-select-choices repeat="cuisine in cuisines | filter: $select.search" position="auto">
                            {{ cuisine.cuisine.cuisine_name }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row super-top-spacer">
            <div class="col-xs-3 col-sm-2 social-login">
                <label>Share</label><br>
                <div class="fb-share-button" data-href="https://www.restaurants2try.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
            <div class="hidden-xs col-sm-6">
                <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ur1&category=gift_certificates&banner=180TQ0K9X17QCCZQS4R2&f=ifr&linkID=8899289ca34f30d526022c20b2d75b57&t=rt2512-20&tracking_id=rt2512-20" width="770" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div>
            <div class="col-xs-9 col-sm-offset-1 col-sm-3 top-spacer">
                <div class="pull-right">
                    <img height="50" src="../images/poi.gif" ng-show="loading">
                    <div class="btn btn-info" ng-click="findFood()">Find me food!</div>
                </div>
            </div>
        </div>
    </div>
</div>