<div id="content">
    <div class="media">
        <div class="media-left">
            <img height="50" ng-src="{{target.restaurant.thumb}}" class="media-object" style="width:60px">
            </div>
        <div class="media-body">
            <h4 class="media-heading" href="target.restaurant.url">
                <a ng-href="{{target.restaurant.url}}" target="_blank">{{ target.restaurant.name }}</a>
            </h4>
            <p>{{ target.restaurant.location.address }}</p>
            <div id="stars">
                <span ng-click="openReviews(target.restaurant)"
                      href="#" uib-tooltip="Click here to see the reviews"
                      class="badge rating-badge cursor-pointer">
                    {{ target.restaurant.user_rating.votes }}
                </span>
            </div>
            <div class="btn-group btn-group-justified infowindow-buttons" role="group">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-default" ng-href="{{target.restaurant.menu_url}}" target="_blank">
                        <span class="fa fa-bars"></span>
                        Menu
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-default" data-href="https://restaurants2try.com" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frestaurants2try.com%2F&amp;src=sdkpreparse">
                        <span class="fa fa-share-alt"></span>
                        Share
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="tryAgain()">
                        <span class="fa fa-refresh"></span>
                        Try Again
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="reviewpaneltemplate.html">
    <div class="modal-body">
        <review-panel reviews="reviews"></review-panel>
    </div>
    <div class="modal-footer">
        <div class="btn btn-info" ng-click="close()">Close</div>
    </div>

</script>

