<ng-map center="37.090,-95.712" zoom="5" style="height:100%;">
</ng-map>
<landing-panel cuisines="cuisines"></landing-panel>
<div class="amazon-banner" ng-show="firstSearchMade">
    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=e2fb26796b81f9f13fd79430198e03c3&t=rt2512-20&tracking_id=rt2512-20" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</div>
