<div class="panel panel-default review-panel">
    <div class="panel-body">
        <h2>Reviews</h2>
        <div ng-repeat="review in reviews">
            <p>{{ review.review.review_text }}</p>
            <input-stars max="5" ng-model="review.review.rating" ng-attr-readonly="true"></input-stars>
            <hr ng-hide="$last">
        </div>
    </div>
</div>