<div class="search-panel container" ng-show="cuisines.length > 0">
    <div class="col-sm-7">
        <label>Cuisines</label>
        <div class="row search-directive-row">
            <tag-directive ng-repeat="item in cuisines" title="item.cuisine.cuisine_name"></tag-directive>
        </div>
    </div>
    <div class="col-sm-5">
        <label>Distance</label>
        <div class="row search-directive-row">
            <tag-directive title="distance"></tag-directive>
            <tag-directive title="city"></tag-directive>
        </div>
    </div>
</div>