<div ng-show="title" class="tag-panel">
    <span class="tag-text">{{ isNumber(title) ? title + ' miles' : title }}</span> <span ng-click="close()" class="glyphicon glyphicon-remove-sign pull-right"></span>
</div>